.navigation {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;

  
}

.link {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link:hover {
  color: #103259;
  text-decoration: underline;
}


@media (max-width: 600px) {
  .link {
    flex-direction: column;
  }
}